.bluesjr {
  background-attachment: fixed;
  background-image: url("/static/blues_pohja.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.ylapalkki {
  background-color: #001d59;
  background-image: url("/static/palkkihaive.png");
  background-repeat: no-repeat;
  background-position: left top;
}

.sisalto {
  margin-top: 1em;
}